/*General*/
body {
  font-family: "Montserrat Alternates", "sans-serif";
  background-image: url("https://nsa39.casimages.com/img/2018/09/19/180919061026766636.jpg");
  background-attachment: fixed;
}
